@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="d-flex">

	@await Component.InvokeAsync("FixedExpense")

	<div class="d-flex flex-column">
		@await Component.InvokeAsync("Budget")
		@await Component.InvokeAsync("Purchases")

	</div>


</div>