@model FinanceTracker.Models.Budget

<table class="table table-bordered table-striped table-hover">
	<thead>
	<tr>
		<th>Cash In</th>
		<th>Cash Out</th>
		<th>Disposable Income</th>
	</tr>

	</thead>
	<tbody>
	<tr>
		<td>$@Model.CashIn</td>
		<td>$@Model.CashOut</td>
		<td>$@Model.DisposableIncome</td>
	</tr>
	</tbody>

</table>