@model Models.Budget

<section id="budget-wrapper" class="w-50">

	<h3>Budget</h3>
	<table id="budget-table" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model.CashIn) </th>
			<th> @Html.DisplayNameFor(model => model.CashOut) </th>
			<th> @Html.DisplayNameFor(model => model.DisposableIncome)</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>$@Html.DisplayFor(model => model.CashIn)</td>
			<td>$@Html.DisplayFor(model => model.CashOut)</td>
			<td>$@Html.DisplayFor(model => model.DisposableIncome)</td>
			<td>
				<a asp-page="./Budget/Edit" asp-route-id="1">Edit</a>
			</td>
		</tr>
		</tbody>
	</table>
</section>